.topic_circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

text {
  font: 12px sans-serif;
  text-anchor: middle;
}

.links line {
  /*stroke: #999;*/
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

/*#net {*/
	/*width: 50%;*/
	/*height: 100%;*/
	/*position: absolute;*/
	/*top: 0px;*/
	/*left: 0px;*/
/*}*/

/*#bubbles {*/
	/*width: 50%;*/
	/*height: 100%;*/
	/*position: absolute;*/
	/*top: 0px;*/
	/*left: 50%;*/
/*}*/

