<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <title>MOLIERE Query Vis</title>
	  <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.11/cytoscape.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script type='text/javascript' src="source.js"></script>
</head>
<body>
<svg id="net" width="1200" height="1200"></svg>
</body>
</hmtl>
