[submodule "external/porter2_stemmer"]
	path = external/porter2_stemmer
	url = https://github.com/smassung/porter2_stemmer.git
[submodule "external/AutoPhrase"]
	path = external/AutoPhrase
	url = https://github.com/shangjingbo1226/AutoPhrase.git
[submodule "external/fastText"]
	path = external/fastText
	url = https://github.com/facebookresearch/fastText.git
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "external/networkit"]
	path = external/networkit
	url = https://github.com/kit-parco/networkit.git
[submodule "external/flann"]
	path = external/flann
	url = https://github.com/mariusmuja/flann.git
