.topic_circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}


.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

text {
  font: 12px sans-serif;
  text-anchor: middle;
}

.links line {
  /*stroke: #999;*/
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

#net {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0px;
  left: 0px;
}

#table-wrapper {
  width: 100%;
  height: 30%;
  position: absolute;
  top: 70%;
  left: 0px;
  overflow: auto;
}

.topicTag {
  font: 14px sans-serif;
}

table#topics {
  width: 100%;
  text-align: left;
}
table#topics td, table#topics th {
  border: 1px solid #AAAAAA;
}
table#topics tbody td {
  font-size: 12px;
}
table#topics thead {
  background: #FF7F0E;
}
table#topics thead th {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}

/*#bubbles {*/
	/*width: 50%;*/
	/*height: 100%;*/
	/*position: absolute;*/
	/*top: 0px;*/
	/*left: 50%;*/
/*}*/

